EDA 
Preparación de datos
Realizado el análisis exploratorio de datos de acuerdo con la descripción del dataset y la información entregada , se comparte un paso a paso  el proceso de EDA y preparación de datos, lo cual es crucial antes de desarollar el modelamiento.

In [2]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [5]:
#Exploramos el dataset mostrando los priemor 5 registros con head()
df=pd.read_csv("movie_credits.csv")
df.head()
#Verificando nuestro dataframe se puede ver que en movies_credits.csv tenemos belongs_to_collection ,
# budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date	,
# runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return	y crew

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return,crew
0,Toy Story Collection,30000000.0,Animation,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,...,81.0,English,Released,NaN,Toy Story,7.7,5415.0,1995.0,12.451801,John Lasseter
1,NaN,65000000.0,Adventure,8844,en,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures,United States of America,1995-12-15,...,104.0,English,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995.0,4.043035,Larry J. Franco
2,Grumpy Old Men Collection,0.0,Romance,15602,en,A family wedding reignites the ancient feud be...,11.712900,Warner Bros.,United States of America,1995-12-22,...,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995.0,0.000000,Howard Deutch
3,NaN,16000000.0,Comedy,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,...,127.0,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995.0,5.090760,Forest Whitaker
4,Father of the Bride Collection,0.0,Comedy,11862,en,Just when George Banks has recovered from his ...,8.387519,Sandollar Productions,United States of America,1995-02-10,...,106.0,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995.0,0.000000,Alan Silvestri

In [8]:
### Informacion de cada una de las columnas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45451 entries, 0 to 45450
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4497 non-null   object
 1   budget                 45451 non-null  float64
 2   genres                 45451 non-null  object
 3   id                     45451 non-null  int64
 4   original_language      45440 non-null  object
 5   overview               44510 non-null  object
 6   popularity             45451 non-null  float64
 7   production_companies   45451 non-null  object
 8   production_countries   45451 non-null  object
 9   release_date           45451 non-null  object
 10  revenue                45451 non-null  float64
 11  runtime                45205 non-null  float64
 12  spoken_languages       45230 non-null  object
 13  status                 45371 non-null  object
 14  tagline                20425 non-null  object
 15  title                  45451 non-null  object
 16  vote_average           45451 non-null  float64
 17  vote_count             45451 non-null  float64
 18  release_year           45451 non-null  float64
 19  return                 45451 non-null  float64
 20  crew                   45451 non-null  object
dtypes: float64(8), int64(1), object(12)
memory usage: 7.3+ MB

In [ ]:
#para tal modelamiento se eliminara algunas columnas que no son necesarias 
#Éste consiste en recomendar películas a los usuarios basándose en películas similares, 
# por lo que se debe encontrar la similitud de puntuación entre esa película y el resto de películas, se ordenarán según el score de similaridad

Estadísticas descriptivas

Mediana : El valor medio en las Columnas, también llamado percentil 50. o 2do cuartil.

1er Cuartil : El percentil 25.

3er Cuartil : El percentil 75.

Mínimo : La observación más pequeña en columnas.

Máximo : La observación más grande en columnas.

In [7]:
#Para ver las variables estadisticas  descriptivas usamos la funcion describe()
df.describe(include='all')

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return,crew
count,4497,4.545100e+04,45451,45451.000000,45440,44510,45451.000000,45451,45451,45451,...,45205.000000,45230,45371,20425,45451,45451.000000,45451.000000,45451.000000,4.545100e+04,45451
unique,1695,NaN,21,NaN,89,44231,NaN,10612,144,17333,...,NaN,73,6,20269,42195,NaN,NaN,NaN,NaN,20606
top,The Bowery Boys,NaN,Drama,NaN,en,No overview found.,NaN,[],United States of America,2008-01-01,...,NaN,English,Released,Which one is the first to return - memory or t...,Blackout,NaN,NaN,NaN,NaN,[]
freq,29,NaN,11989,NaN,32249,133,NaN,11817,18442,136,...,NaN,26861,45009,9,13,NaN,NaN,NaN,NaN,723
mean,NaN,4.231294e+06,NaN,107984.599745,NaN,NaN,2.926887,NaN,NaN,NaN,...,94.181905,NaN,NaN,NaN,NaN,5.624085,109.989703,1991.882027,6.589542e+02,NaN
std,NaN,1.742942e+07,NaN,112111.336735,NaN,NaN,6.006458,NaN,NaN,NaN,...,38.329504,NaN,NaN,NaN,NaN,1.915424,491.352336,24.057726,7.463165e+04,NaN
min,NaN,0.000000e+00,NaN,2.000000,NaN,NaN,0.000000,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,1874.000000,0.000000e+00,NaN
25%,NaN,0.000000e+00,NaN,26367.500000,NaN,NaN,0.389095,NaN,NaN,NaN,...,85.000000,NaN,NaN,NaN,NaN,5.000000,3.000000,1978.000000,0.000000e+00,NaN
50%,NaN,0.000000e+00,NaN,59871.000000,NaN,NaN,1.131386,NaN,NaN,NaN,...,95.000000,NaN,NaN,NaN,NaN,6.000000,10.000000,2001.000000,0.000000e+00,NaN
75%,NaN,0.000000e+00,NaN,156327.500000,NaN,NaN,3.694370,NaN,NaN,NaN,...,107.000000,NaN,NaN,NaN,NaN,6.800000,34.000000,2010.000000,0.000000e+00,NaN
max,NaN,3.800000e+08,NaN,469172.000000,NaN,NaN,547.488298,NaN,NaN,NaN,...,1256.000000,NaN,NaN,NaN,NaN,10.000000,14075.000000,2020.000000,1.239638e+07,NaN

In [ ]:
sns.boxplot(x='GarageQual',y=‘SalePrice’,data=df)
plt.show()